body {
  background-color: #fff;
  
}

.header,
.main,
.footer {
  width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;

  padding: 92px 50px 96px;
  
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;

  letter-spacing: 0.01em;
  line-height: 1.47;
  text-transform: lowercase;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__address {
  justify-self: end;
}

.header__address-list {
  max-width: 240px;

  list-style: none;

  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}
